In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('movies_db.db')

print("Opened database successfully")

Opened database successfully

In [4]:
conn.execute('''CREATE TABLE MOVIES_DB
         (
         MOVIE_NAME           CHAR(50)    NOT NULL,
         ACTOR           CHAR(50)    NOT NULL,
         ACTRESS        CHAR(50) NOT NULL,
         RELEASE_DATE  TEXT NOT NULL      ,
         DIRECTOR CHAR(50) NOT NULL);''')
print("Table created successfully")

Table created successfully

In [5]:
conn.execute("INSERT INTO MOVIES_DB (MoVIE_NAME,ACTOR,ACTRESS,RELEASE_DATE,DIRECTOR) \
      VALUES ('BAHUBALI', 'PRABHAS', 'ANUSHKA', '20-06-2018', 'RAJAMOULI' )");

In [6]:
conn.execute("INSERT INTO MOVIES_DB (MoVIE_NAME,ACTOR,ACTRESS,RELEASE_DATE,DIRECTOR) \
      VALUES ('RRR', 'NTR', 'ALIA', '20-04-2022', 'RAJAMOULI' )");

In [7]:
conn.execute("INSERT INTO MOVIES_DB (MoVIE_NAME,ACTOR,ACTRESS,RELEASE_DATE,DIRECTOR) \
      VALUES ('PUSHPA', 'ARJUN', 'RASHMIKA', '12-02-2022', 'TRIVIKRAM' )");

In [8]:
conn.execute("INSERT INTO MOVIES_DB (MoVIE_NAME,ACTOR,ACTRESS,RELEASE_DATE,DIRECTOR) \
      VALUES ('SRI', 'MAHESH', 'RAKUL', '13-10-2018', 'TRIVIKRAM' )");

In [9]:
conn.execute("INSERT INTO MOVIES_DB (MoVIE_NAME,ACTOR,ACTRESS,RELEASE_DATE,DIRECTOR) \
      VALUES ('KGF', 'REVANTH', 'NIVETHA', '11-02-2022', 'SRAVAN' )");

In [10]:
conn.commit()
print("Records created successfully")

Records created successfully

In [11]:
cursor = conn.execute("SELECT MOVIE_NAME, ACTOR, ACTRESS, RELEASE_DATE, DIRECTOR from MOVIES_DB")
for row in cursor:
   print ("MOVIE_NAME = ", row[0])
   print ("ACTOR = ", row[1])
   print ("ACTRESS = ", row[2])
   print ("RELEASE_DATE = ", row[3])
   print ("DIRECTOR= ", row[4] , "\n")

print( "Operation done successfully")

MOVIE_NAME =  BAHUBALI
ACTOR =  PRABHAS
ACTRESS =  ANUSHKA
RELEASE_DATE =  20-06-2018
DIRECTOR=  RAJAMOULI

MOVIE_NAME =  RRR
ACTOR =  NTR
ACTRESS =  ALIA
RELEASE_DATE =  20-04-2022
DIRECTOR=  RAJAMOULI

MOVIE_NAME =  PUSHPA
ACTOR =  ARJUN
ACTRESS =  RASHMIKA
RELEASE_DATE =  12-02-2022
DIRECTOR=  TRIVIKRAM

MOVIE_NAME =  SRI
ACTOR =  MAHESH
ACTRESS =  RAKUL
RELEASE_DATE =  13-10-2018
DIRECTOR=  TRIVIKRAM

MOVIE_NAME =  KGF
ACTOR =  REVANTH
ACTRESS =  NIVETHA
RELEASE_DATE =  11-02-2022
DIRECTOR=  SRAVAN

Operation done successfully